DJANGO_SECRET_KEY=gerar-chave-segura
DJANGO_SETTINGS_MODULE=config.settings.local
DB_NAME=was_contabil
DB_USER=was_contabil
DB_PASSWORD=was_contabil
DB_HOST=postgres
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
ALLOWED_HOSTS=localhost,127.0.0.1
